<div class="space-y-8 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">{{profileName}}'s
        workout plan
      </h2>
      <p class="mt-2 text-sm text-gray-700">For a duration of {{plan.numSessions}} weeks.</p>
    </div>
  </div>
  {{#each sessions}}
  <h3 class="text-base font-semibold leading-6 text-gray-900">Week {{this.week}} Session {{this.session}}</h3>
  <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
    {{#each exercises}}
    <li class="overflow-hidden rounded-xl border border-gray-200">
      <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
        <img src="https://tailwindui.com/img/logos/48x48/tuple.svg" alt="Tuple"
          class="h-12 w-12 flex-none rounded-lg bg-white object-cover ring-1 ring-gray-900/10">
        <div class="text-sm font-medium uppercase leading-6 text-gray-900">{{this.name}}</div>
      </div>
      <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
        <div class="flex justify-between gap-x-4 py-3">
          <dt class="text-gray-500">Sets</dt>
          <dd class="text-gray-700">{{this.sets}}</dd>
        </div>
        <div class="flex justify-between gap-x-4 py-3">
          <dt class="text-gray-500">Reps</dt>
          <dd class="flex items-start gap-x-2">
            <div class="text-gray-700">{{this.reps}}</div>
          </dd>
        </div>
      </dl>
    </li>
    {{/each}}
  </ul>
  {{/each}}
</div>