<main>
  <h1>{{profileName}}</h1>
  <h2>Plan duration: {{plan.numSessions}} weeks</h2>

  {{#each sessions}}
    <h3>Week {{this.week}} Session {{this.session}}</h3>
    {{#each exercises}}
      <p>{{this.name}}: {{this.sets}} sets, {{this.reps}} reps</p>
    {{/each}}
  {{/each}}
</main>